In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import pickle

In [4]:
dataset = pd.read_csv('dataset.csv')
dataset

   Index experience  test_score  interview_score  salary
0      0        NaN         8.0                9   50000
1      1        NaN         8.0                6   45000
2      2       five         6.0                7   60000
3      3        two        10.0               10   65000
4      4      seven         9.0                6   70000
5      5      three         7.0               10   62000
6      6        ten         NaN                7   72000
7      7     eleven         7.0                8   80000

In [5]:
dataset['experience'].fillna(0, inplace=True)

dataset['test_score'].fillna(dataset['test_score'].mean(), inplace=True)

In [8]:
X = dataset.iloc[:, 1:4]

In [9]:
X

  experience  test_score  interview_score
0          0    8.000000                9
1          0    8.000000                6
2       five    6.000000                7
3        two   10.000000               10
4      seven    9.000000                6
5      three    7.000000               10
6        ten    7.857143                7
7     eleven    7.000000                8

In [10]:
#Converting words to integer values
def convert_to_int(word):
    word_dict = {'one':1, 'two':2, 'three':3, 'four':4, 'five':5, 'six':6, 'seven':7, 'eight':8,
                'nine':9, 'ten':10, 'eleven':11, 'twelve':12, 'zero':0, 0: 0}
    return word_dict[word]

X['experience'] = X['experience'].apply(lambda x : convert_to_int(x))

In [11]:
y = dataset.iloc[:, -1]

In [12]:
from sklearn.linear_model import LinearRegression
regressor = LinearRegression()

#Fitting model with trainig data
regressor.fit(X, y)

LinearRegression()

In [13]:
# Saving model to disk
pickle.dump(regressor, open('model.pkl','wb'))

In [14]:
# Loading model to compare the results
model = pickle.load(open('model.pkl','rb'))
print(model.predict([[2, 9, 6]]))

[53290.89255945]

C:\Users\HP\AppData\Local\Programs\Python\Python39\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(